@page "/about"
<h1 style="margin-left:35%" > About me </h1>
<hr>
<br>
<br>
<div class="container">
    <div class="media">
     <img src="assets/Swami.jpg" class="mr-3" alt="Swami" style="width:45%">
     <div class="media-body">
        <h4 class="mt-0">Swaminathan Vetri</h4>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"> <span> <img src="assets/maersk.svg" style="width:20%"></span> &nbsp;Technical Architect </li>
            <li class="list-group-item"> <span> <img src="assets/mvp.png" style="width:20%"></span> &nbsp; Developer Technologies </li>    
            <li class="list-group-item"> <span> <img src="assets/bdot.png" style="width:10%"></span> &nbsp; Organizer </li>    
            <li class="list-group-item"> <a href="https://swaminathanvetri.in" target="_blank"><span> <img src="assets/wordpressIcon.png" style="width:10%"></span> &nbsp;swaminathanvetri.in</a> </li>
            <li class="list-group-item"> <a href="https://twitter.com/svswaminathan" target="_blank"> <span> <img src="assets/twitterIcon.png" style="width:10%"></span>&nbsp;svswaminathan</a> </li>
            <li class="list-group-item"> <a href="https://github.com/svswaminathan" target="_blank"> <span> <img src="assets/githubIcon.png" style="width:10%"></span>&nbsp;svswaminathan</a> </li>
            <li class="list-group-item">Speaking, Blogging, Photography, Gadgets, Home automation </li>
        </ul>
     </div>
    </div>
</div>

<DeckNavigation PreviousSlide="/" NextSlide="/agenda"/>