@page "/about"
<h1 style="margin-left:35%" > About me </h1>
<hr>
<br>
<br>
<div class="container">
    <div class="media">
     <img src="assets/Swami.jpg" class="mr-3" alt="Swami" style="width:45%">
     <div class="media-body">
        <h4 class="mt-0">Swaminathan Vetri</h4>
        <ul class="list-group">
            <li class="list-group-item"> Technical Architect at Maersk </li>
            <li class="list-group-item"> Microsoft MVP - Developer Technologies </li>
            <li class="list-group-item"> Speaking, Blogging, Photography, Gadgets, Home automation </li>
            <li class="list-group-item"> <a href="https://swaminathanvetri.in" target="_blank">https://swaminathanvetri.in</a> </li>
            <li class="list-group-item"> <a href="https://twitter.com/svswaminathan" target="_blank">svswaminathan</a> </li>
        </ul>
     </div>
    </div>
</div>

<DeckNavigation PreviousSlide="/" NextSlide="/agenda"/>