@page "/agenda"
@using System.Collections.Generic


<h1 style="margin-left:35%"> Agenda </h1>
<hr>
<br>
<br>

<ul class="list-group list-group-flush">
@foreach(var agendaItem in agendaItems)
{
    <li class="list-group-item"> <span class="oi oi-check"></span> @agendaItem </li>
}
</ul>

<DeckNavigation PreviousSlide="/about" NextSlide="/whatisblazor"/>

@code {
    private List<string> agendaItems;

    protected override void OnInitialized()
    {
            agendaItems = new List<string>
        {
            "What is Blazor ?",
            "What is Web Assembly ?",
            "How Blazor WebAssembly Works ?",
            "Blazor on Client vs Server",
            "What are serverless websites ?",
            "Where does Blazor fit in ?",
            "Running serverless code with Azure Functions",
            "Demos"
        };
        
    }
    
}


