@page "/blazorinternals"

<h1 style="margin-left:35%"> How Blazor works? </h1>
<hr>
<br>
<br>

<div class="row">
<img src="assets/blazorUnderTheHood.png" style="width:70%">
</div>

<DeckNavigation PreviousSlide="/webassembly" NextSlide="/blazorclientserver"/>