@page "/demo"

<TitleSingleContent Title="Demo">
<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="gettingStarted">
  <label class="custom-control-label" for="gettingStarted">Getting Started with Blazor [Project walkthrough, Debugging, Routing]</label>
</div>

<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="components">
  <label class="custom-control-label" for="components">Components</label>
</div>

<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="jsInterop">
  <label class="custom-control-label" for="jsInterop">JSInterop</label>
</div>

<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="deployment">
  <label class="custom-control-label" for="deployment">Deployment</label>
</div>

<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="gettingStartedAzureFn">
  <label class="custom-control-label" for="gettingStartedAzureFn">AzureFunction</label>
</div>

<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="deployingAzureFn">
  <label class="custom-control-label" for="deployingAzureFn">Deploying AzureFunction</label>
</div>

</TitleSingleContent>

<DeckNavigation PreviousSlide="/serverlesswebsites-2" NextSlide="/learnmore" />