@page "/"

<div class="container-fluid centeredContainer">
    <div class="row">
        <h1>Blazor & Azure Functions for Serverless websites</h1><br><br>
    </div>
    <div class="row">
           <h2>dotnet Bangalore Meetup, Nov 9, 2019</h2><br><br>
    </div>
    <div class="row">
        <h3><a href="https://twitter.com/svswaminathan">svswaminathan</a></h3>
    </div>
    <DeckNavigation NextSlide="/about"/>
</div>




