@page "/"

<div class="container centeredContainer">
    <div class="row">
        <h1>Blazor & Azure Functions for Serverless websites</h1>
        <h2>dotnet Bangalore Meetup, Nov 9, 2019</h2>
        <h3><a href="https://twitter.com/svswaminathan">Swaminathan Vetri </a></h3>
    </div>    
</div>
<div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <a href="/about" class="btn btn-link"> Next >> </a>
        </div>
    </div>


