@page "/serverlesswebsites-2"

<h1 style="margin-left:35%"> Serverless Websites </h1>
<hr>
<br>
<br>

    <div class="row">
    <div class="col-sm">
        <h3> Scaling Serverless Web App </h3><br>
        <img src="assets/scalingServerless.png" style="width:75%"/>
    </div>
    </div>

<DeckNavigation PreviousSlide="/serverlesswebsites-1" NextSlide="/learnmore" />


