@page "/serverlesswebsites-1"

<h1 style="margin-left:35%"> Serverless Websites </h1>
<hr>
<br>
<br>

    <div class="row">
    <div class="col-sm">
        <h3> Serverless Web App Architecture </h3><br>
        <img src="assets/serverlessWebsite.png" style="width:100%"/>
    </div>
    <div class="col-sm">
        <h3> Serverless Web App with Azure Functions </h3><br>
        <img src="assets/serverlessWithAF.png" style="width:100%"/>
    </div>
    </div>

<DeckNavigation PreviousSlide="/serverlesswebsites" NextSlide="/serverlesswebsites-2" />


