@page "/serverlesswebsites"

<h1 style="margin-left:35%"> Serverless Websites </h1>
<hr>
<br>
<br>

    <div class="row">
    <div class="col">
        <h3> Standard Web App Architecture </h3><br>
        <img src="assets/standardWebAppArch.png" style="width:100%"/>
    </div>
    <div class="col">
        <h3> Scaling Standard Web App </h3><br>
        <img src="assets/scalingStandardWebApp.png" style="width:100%"/>
    </div>
    </div>

<DeckNavigation PreviousSlide="/blazorclientserver" NextSlide="/serverlesswebsites-1" />
