@page "/thankyou"

<div class="container centeredContainer" style="margin-top:20%">
<div class="row">
        <h1>Questions ?? Thank You</h1><br><br>
    </div>
    <div class="row">
        <h2><a href="https://twitter.com/svswaminathan">svswaminathan</a></h2><br><br>
    </div>  
    <div class="row">
        <h3><a href="https://swaminathanvetri.in">swaminathanvetri.in</a></h3>
    </div>

    <DeckNavigation PreviousSlide="/learnmore"/>
</div>