@page "/webassembly"

<h1 style="margin-left:35%" > WebAssembly </h1>
<hr>
<br>
<br>

<h5>
WebAssembly (abbreviated Wasm) is a binary instruction format for a stack-based virtual machine. 
Wasm is designed as a portable target for compilation of high-level languages like C/C++/Rust, enabling deployment on the web for client and server applications.
</h5>
<br>
<div class="row">
    <div class="col-sm">
        <img src="assets/webassemblies.png" style="width:55%">
    </div>
    <div class="col-sm">
        <br>
        <img src="assets/blazorWebAssembly.png" style="width:75%">
    </div>
</div>

<DeckNavigation PreviousSlide="/whatisblazor" NextSlide="/blazorinternals"/>